fastapi~=0.103.0
uvicorn[standard]~=0.31.0
sqlalchemy[asyncio]~=2.0.20
asyncpg~=0.28.0
python-json-logger~=2.0.7
email_validator~=2.1.1
mixpanel==4.10.1
ua-parser==0.18.0

alembic~=1.12.00
psycopg2~=2.9.7

-e git+https://github.com/OCHA-DAP/hapi-sqlalchemy-schema@v0.8.17#egg=hapi-schema
